.page-title {
    margin-bottom: 40px;
}

.form-item-title {
    font-size: 15px;
    margin: 30px -15px;
    background: #f5f5f5;
    border: 1px solid #DDD;
    border-left: 0;
    border-right: 0;
    padding: 10px 15px;
}

.icon-remove {
    line-height: 1;
    color: #dc3545;
    font-weight: 700;
    font-size: 22px;
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}

.icon-remove:hover {
   text-decoration: none;
   cursor: pointer;
   color: #00BC9C;
}

.jumbotron p {
    font-size: 12px;
    margin-bottom: 0;
}

.required:after {
    content: "*";
    margin-left: 3px;
    color: #dc3545;
    font-size: 17px;
}

.error {
    color: #dc3545;
}

.panel-body {
    overflow-x: scroll;
}
