<main class="container-fluent create-user-front-end">
    <form method="POST" action="" class="jumbotron">
        <fieldset>
            <legend>Dados Pessoais</legend>
            <div class="row form-group">
                <div class="col-md-3 col-md-offset-0">
                    <label for="name" class="required">Nome</label>
                    <input id="name" type="text" class="form-control" ng-model="entity.name" placeholder="Insira seu nome">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-3 col-md-offset-0">
                    <label for="dateBirth" class="required">Dt. Nascimento</label>
                    <input id="dateBirth" type="text" class="form-control" ng-model="entity.dateBirth" placeholder="Insira sua data de nascimento">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-3 col-md-offset-0">
                    <label for="sex">Sexo</label>
                    <select id="sex" class="form-control" ng-model="entity.sex" ng-selected="$first">
                        <option value="Female">Mulher</option>
                        <option value="male">Homem</option>
                    </select>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-3 col-md-offset-0">
                    <label for="cpf" class="required">CPF</label>
                    <input id="cpf" type="text" class="form-control" ng-model="entity.cpf" placeholder="Insira seu cpf">
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Contato</legend>
            <div class="row form-group">
                <div class="col-md-3 col-md-offset-0">
                    <label for="email" class="required">E-mail</label>
                    <input id="email" type="text" class="form-control" ng-model="entity.email" placeholder="Insira seu e-mail">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-3 col-md-offset-0">
                    <label for="phone">Telefone</label>
                    <input id="phone" type="text" class="form-control" ng-model="entity.phone" placeholder="Insira seu telefone">
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Endereço</legend>
            <div class="row form-group">
                <div class="col-md-3 col-md-offset-0">
                    <label for="street">Rua</label>
                    <input id="street" type="text" class="form-control" ng-model="entity.address.street" placeholder="Insira o seu endereço">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-1">
                    <label for="addressNumber">Número</label>
                    <input id="addressNumber" type="text" class="form-control" ng-model="entity.address.number" placeholder="Insira o número do seu endereço">
                </div>
                <div class="col-md-2">
                    <label for="addressCep">Cep</label>
                    <input id="addressCep" type="text" class="form-control" ng-model="entity.address.cep" placeholder="Insira seu CEP">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-3 col-md-offset-0">
                    <label for="addressCity">Cidade</label>
                    <input id="addressCity" type="text" class="form-control" ng-model="entity.address.city" placeholder="Insira sua cidade">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-3 col-md-offset-0">
                    <input type="button" class="btn btn-default" value="Cadastrar" ng-disabled="verificarCamposObrigatorios()"
                        ng-click="addUser()">
                </div>
            </div>
        </fieldset>
    </form>

</main>