.create-user-front-end{
    padding: 20px;
}
.create-user-front-end .jumbotron{
  background: transparent;
}
.create-user-front-end .btn-success{
    background: #00BC9C;
}

.create-user-front-end .required::after {    
    content: '*';
    color: rgb(235, 19, 19);
}
